! Set the font (you can adjust size here)
! Font
XTerm*faceName: Monospace
XTerm*faceSize: 20

! Colors
XTerm*background: #000000
XTerm*foreground: #FFFFFF
XTerm*cursorColor: #f8f8f0


! Misc
XTerm*saveLines: 10000
XTerm*cursorBlink: true         ! makes cursor blink
XTerm*cursorShape: block 
