@theme "/dev/null"

* {
    bg: #000000;
    background-color: @bg;
}

configuration {
    show-icons: true;
    icon-theme: "Papirus";
    location: 0;
    font: "JetBrainsMono Nerd Font 10";
    display-drun: "Launch:";
}

window {
    width: 25%;
    transparency: "real";
    orientation: vertical;
    border-color: #000000;
}

mainbox {
    children: [inputbar, listview];
}


// ELEMENT
// -----------------------------------

element {
    padding: 2 8;
    text-color: #EFE7DD;
    font: "JetBrainsMono Nerd Font 10";
}

element selected {
    background-color: #74adc0;
}

element-text {
    background-color: inherit;
    text-color: inherit;
}

element-icon {
    size: 12px;
    background-color: inherit;
    padding: 0 5 0 0;
    alignment: vertical;
}

listview {
    columns: 2;
    lines: 8;
    padding: 4 0;
    fixed-height: true;
    fixed-columns: true;
    fixed-lines: true;
    border: 0 8 4 8;
}


// INPUT BAR
//------------------------------------------------

entry {
    text-color: #EFE7DD;
    padding: 5 8 0 0;
    margin: 0;
}

inputbar {
    background-image: url("~/.config/rofi/anime.jpg", width);
    padding: 60 0 0;
    margin: 0;
}

prompt {
    text-color: #aaffaa;
    padding: 5 6 0 8;
    margin: 0;
}
