* {
    font-family: "JetBrains Mono";
    font-size: 13px;
}

window#waybar {
    background: #000000;
    color: #ff0000;
}

#workspaces button {
    color: #ff0000;
    background: #000000;
}

#workspaces button.focused {
    background: #ff0000;
    color: #000000;
}

#clock,
#pulseaudio,
#cpu,
#memory,
#disk,
#battery {
    padding: 0 10px;
    color: #ff0000;
}
